! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #4d4d4d, #f0544c, #f0544c
rofi.color-normal: #4d4d4d, #ffffff, #4d4d4d, #f0544c, #ffffff
rofi.color-active: #4d4d4d, #ffffff, #4d4d4d, #f0544c, #ffffff
rofi.color-urgent: #4d4d4d, #ffffff, #4d4d4d, #f0544c, #ffffff
